<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  
  <log4net>
    <!-- Debug 将日志以回滚文件的形式写到文件中 -->
    <appender name="RollingFileDebug" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Revit2GltfLogs\\Debug\\" />
      <MaxFileSize value="10240"/>
      <maxSizeRollBackups value="100" />
      <appendToFile value="true" />
      <!--按照日期进行变换日志文件-->
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd/yyyy-MM-dd_HH'.log'" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <lockingModel  type="log4net.Appender.FileAppender+MinimalLock" />
      <!--保留的log文件数量 超过此数量后 自动删除之前的  -->
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [%-5level] %c %L行 - %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Debug" />
        <param name="LevelMax" value="Debug" />
      </filter>
    </appender>

    <!-- Info 将日志以回滚文件的形式写到文件中 -->
    <appender name="RollingFileInfo" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Revit2GltfLogs\\Info\\" />
      <MaxFileSize value="10240"/>
      <maxSizeRollBackups value="100" />
      <appendToFile value="true" />
      <!--按照日期进行变换日志文件-->
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd/yyyy-MM-dd_HH'.log'" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <lockingModel  type="log4net.Appender.FileAppender+MinimalLock" />
      <!--保留的log文件数量 超过此数量后 自动删除之前的  -->
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [%-5level] %c %L行 - %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Info" />
        <param name="LevelMax" value="Info" />
      </filter>
    </appender>

    <!-- Warn  将日志以回滚文件的形式写到文件中 -->
    <appender name="RollingFileWarn" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Revit2GltfLogs\\Warn\\" />
      <MaxFileSize value="10240"/>
      <maxSizeRollBackups value="100" />
      <appendToFile value="true" />
      <!--按照日期进行变换日志文件-->
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd/yyyy-MM-dd_HH'.log'" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <lockingModel  type="log4net.Appender.FileAppender+MinimalLock" />
      <!--保留的log文件数量 超过此数量后 自动删除之前的  -->
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [%-5level] %c %L行 - %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Warn" />
        <param name="LevelMax" value="Warn" />
      </filter>
    </appender>

    <!-- Error 将日志以回滚文件的形式写到文件中 -->
    <appender name="RollingFileError" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Revit2GltfLogs\\Error\\" />
      <MaxFileSize value="10240"/>
      <maxSizeRollBackups value="100" />
      <appendToFile value="true" />
      <!--按照日期进行变换日志文件-->
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd/yyyy-MM-dd_HH'.log'" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <lockingModel  type="log4net.Appender.FileAppender+MinimalLock" />
      <!--保留的log文件数量 超过此数量后 自动删除之前的  -->
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [%-5level] %c %L行 - %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Error" />
        <param name="LevelMax" value="Error" />
      </filter>
    </appender>

    <!-- Fatal  将日志以回滚文件的形式写到文件中 -->
    <appender name="RollingFileFatal" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Revit2GltfLogs\\Fatal\\" />
      <MaxFileSize value="10240"/>
      <maxSizeRollBackups value="100" />
      <appendToFile value="true" />
      <!--按照日期进行变换日志文件-->
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd/yyyy-MM-dd_HH'.log'" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <lockingModel  type="log4net.Appender.FileAppender+MinimalLock" />
      <!--保留的log文件数量 超过此数量后 自动删除之前的  -->
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [%-5level] %c %L行 - %message%newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Fatal" />
        <param name="LevelMax" value="Fatal" />
      </filter>
    </appender>

    <logger name="RollingLogFileAppender">
      <level value="ALL" />
      <appender-ref ref="RollingFileDebug" />
      <appender-ref ref="RollingFileInfo" />
      <appender-ref ref="RollingFileWarn" />
      <appender-ref ref="RollingFileError" />
      <appender-ref ref="RollingFileFatal" />
    </logger>
  </log4net>
</configuration>